:root {
  --accent-color: #2196f3;
}
:root {
  --main-font-family: "Roboto", sans-serif;
}
:root {
  --secondary-font-family: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font-family);
}
/* HEADER */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.contact-mail,
.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
/* END HEADER */

/* TITLE */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: #FFFFFF; */
}
.modal-btn {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.modal-btn:hover {
  background: #2196f3;
}
/* END TITLE */
/* FEATURE */
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/* END FEATURE */
/* ABOUT */
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/* END ABOUT */
/* TEAM */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* END TEAM */
/* FOOTER */
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: #FFFFFF; */
}
.contact-mail-footer,
.contact-number-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}
/* PORTFOLIO */
.title-filtres {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.title-filtres:hover,
.title-filtres:focus {
  color: #f5f4fa;
}
.modal-btn-filtres {
  background-color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}
.modal-btn-filtres:hover,
.modal-btn-filtres:focus {
  background: #2196f3; cursor: pointer;
}
/* PROJECTS */
.title-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: #757575;
}
